[Unit]
Description=Cage compositor on %I
After=systemd-user-sessions.service
Before=graphical.target
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service
PartOf=makair-setup.service

Conflicts=getty@%i.service
After=getty@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/makair-env
ExecStart=/usr/bin/cage -- /home/alarm/makair-control --port /dev/makair --fullscreen
User=alarm
Group=uucp
#Restart=on-failure

UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
StandardOutput=syslog
StandardError=syslog

PAMName=cage

[Install]
WantedBy=graphical.target
Alias=display-manager.service
DefaultInstance=tty1
